[Unit]
Description=MLflow tracking server
After=network.target 

[Service]
User=estudiante
Restart=on-failure
RestartSec=3
WorkingDirectory=/home/estudiante/MLOPS/Proyecto_2
Environment=MLFLOW_S3_ENDPOINT_URL=http://http://10.43.101.152:8088
Environment=AWS_ACCESS_KEY_ID=minioadmin
Environment=AWS_SECRET_ACCESS_KEY=minioadmin
ExecStart= python3 -m mlflow server \
--backend-store-uri sqlite:////home/estudiante/MLOPS/Proyecto_2/mlflow.db \
--default-artifact-root s3://mlflows3/artifacts \
--host 0.0.0.0:8083 \
--serve-artifacts

[Install]
WantedBy=multi-user.target